[Unit]
Description=Dynamic IP DNS Updater Timer
Requires=dynipupdate.service

[Timer]
# Run every 5 minutes
OnCalendar=*:0/5
# Run 1 minute after boot
OnBootSec=1min
# Run immediately if we missed a scheduled run
Persistent=true

[Install]
WantedBy=timers.target
